<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Inventory- Shipments</title>
</head>
<body>
    <div id="Alert"></div>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
    {{ msg }}
    </p>
    {% endfor %}
    <div class="container">
            <div class="row inventory" style="border-bottom: solid 2px black;">
                <h2>Inventory</h2>
                <p>Total items in inventory: {{inventory| length}} </p>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#addItem" aria-controls="addItem" style="width: 30%;">Add an Item</button>
                <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#deleteItem" aria-controls="deleteItem" style="width: 30%;">Delete an Item</button>
                <table class="table">
                    <thead>
                    
                      <tr>
                        <th scope="col">Item Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Edit/Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for item in inventory %}
                      <tr>
                        
                        <th scope="row">{{item.item_id}}</th>
                        <td id="{{item.item_id}}-name">{{item.name}}</td>
                        <td id="{{item.item_id}}-desc">{{item.description}}</td>
                        <td id="{{item.item_id}}-quantity">{{item.quantity}}</td>
                        <td>
                            <button onclick="showEdit({{item.item_id}}, event)">Edit</button>
                        </td>
                    
                      </tr>
                    {% endfor %}  
                    </tbody>
                </table>
            </div>
            <br>
            <div class="row shipments" style="margin-top: 25px;">
                <h2>Shipments</h2>
                <p>Total Shipments: {{shipments| length}} </p>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#addShip" aria-controls="addShip" style="width: 30%">Add a Shipment</button>
                <br>
                
                <table class="table">

                    <thead>
                    
                      <tr>
                        <th scope="col">Shipment Id</th>
                        <th scope="col">Ship to</th>
                        <th scope="col">Ship From</th>
                        <th scope="col">Ship date</th>
                        <th scope="col">Delete/More Info</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for ship in shipments %}
                      <tr>
                        <th scope="row">{{ship.ship_id}}</th>
                        <td id="{{ship.ship_id}}-ship_to">{{ship.ship_to}}</td>
                        <td id="{{ship.ship_id}}-ship_from">{{ship.ship_from}}</td>
                        <td id="{{ship.ship_id}}-ship_date">{{ship.ship_date}}</td>
                        <td>
                            <button onclick="deleteShip({{ship.ship_id}})">Delete</button>
                            <p id="see_items" onclick="changeToClose(event)">
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#items_in_{{ship.ship_id}}" role="button" aria-expanded="false" aria-controls="items_in_{{ship.ship_id}}">
                                    See Items
                                </a>


                             </p>   
                        </td>
                        <div class="collapse" id="items_in_{{ship.ship_id}}">
                            <div class="card card-body">
                                
                                    {% if ship.items %}
                                    <h3>#{{ship.ship_id}} Shipment-- Items</h3><br>
                                            <button style="width: 25%;" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#list_items" role="button" aria-expanded="false" aria-controls="list_items" onclick="addFormShipId({{ship.ship_id}})">Add an Item</button>
                                            <button style="width: 25%;" class="btn btn-danger" onclick="showDelete(event)">Delete an Item</button>
                                            
                                    {% for item in ship.items %}
                                        <div style="border: solid 2px black;"  class="list_of_items" delBtnId={{item.item_id}} data-value="{{ship.ship_id}}">
                                            
                                        <p>Item Id: {{item.item_id}}</p>
                                        <p id="{{item.item_id}}-ship-item-name">Item Name: {{item.name}}</p>
                                        <p id="{{item.item_id}}-ship-item-quantity">Shipping Quantity: {{ship_qty[ship.ship_id][0][item.item_id]}}</p>
                                       </div>
                                    {% endfor %}
                             
                                   {% else %}
                                   <div>
                                       <h3>Shipment- {{ship.ship_id}}</h3>
                                    <h3>There are no items in this shipment</h3>
                                        <br> 
                                        <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#list_items" role="button" aria-expanded="false" aria-controls="list_items" onclick="addFormShipId({{ship.ship_id}})">Add an Item</button>
                                        
                                   </div>
                                   {% endif %}
                            </div>

                          </div>
                    
                      </tr>
                    {% endfor %}  
                    </tbody>
                </table>
            </div>
    </div>

    <!-- Off canvas to add an item to inventory -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="addItem" aria-labelledby="addItem">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Add an item</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form action="/addItemInventory" method="post">
              <label for="name">Item Name:</label><br><input name="name" type="text" required><br>
              <br>
              <label for="desc">Description:</label><br><textarea name="description"></textarea><br>
              <br>
              <label for="quantity">Quantity:</label><br><input name="quantity" type="number" required min="1" required><br>
              
              
            <input type="submit" value="Add">
          </form>
        </div>
      </div>
      <!-- Off canvas to delete an item from inventory -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="deleteItem" aria-labelledby="deleteItem">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Delete an item</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form id="deleteitem_inventory" method="post">
              <label for="item_id">Choose an item:</label><br>
              <select name="item" id="item_choice">
                  {% for item in inventory%}
                    <option value="{{item.item_id}}">{{item.item_id}}--{{item.name}}</option>
                  {% endfor %}
              </select>
              <br>
            <input type="submit" value="Delete">
          </form>
        </div>
      </div>

      <!-- Create a shipment off canvas -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="addShip" aria-labelledby="addShip">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Create a shipment</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form action="/createshipment" method="post">
              <h5>Demo purpopses: default values provided</h5>
              <label for="ship_to">Ship to:</label><br><input name="ship_to" type="text" value="Some happy customer"><br>
              <br>
              <label for="ship_from">Ship From:</label><br><input type="text" name="ship_from" value="Some warehouse"><br>
              <br>
              <label for="ship_date">Shipping Date:</label><br><input name="ship_date" type="date"><br>
              
              
            <input type="submit" value="Add">
          </form>
        </div>
      </div>

    <!-- Add item to shipment form -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="list_items" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
          <h4 id="offcanvasTopLabel">Add an item to Shipment</h4>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form action="/addtoship" method="post">
                <label for="shipment">Shipment Id</label><br>
                <input type="text" name="ship_id" id="ship_id" required>
                <br>
                <label for="">Type id of item</label><br>
                <input name="item_id" type="text" list="items_available" required>
                <p style="opacity: 70%;">If you don't know Item id, type the name to find suggestions</p>
                <datalist id="items_available">
                {% for item in inventory %}
                <option value="{{item.item_id}}">{{item.item_id}}-{{item.name}}</option>
                {% endfor %}
                </datalist>
                <label for="qty">Shipping Quantity</label><br>
                <input name="qty" type="number" min="1" required>
                <br>
                <input type="submit" value="Add item to Shipment">
        </form>
        </div>
      </div>
    
           
 

</body>
<script src="static/index.js"></script>
</html>